.button {
  display: flex;
  text-transform: capitalize;
  gap: var(--gap-xs);
  align-items: center;
  cursor: pointer;
  font-family: "Lufga-500", sans-serif;
}

.round {
  border-radius: var(--bdRadius-md);
}
.ovale {
  border-radius: var(--bdRadius-sm);
}
.rectangle {
  border-radius: var(--bdRadius-xs);

  font-size: var(--fontSize-md);
}
.black {
  background: var(--black400);
  color: var(--white400);
  border-color: var(--black400);
}

.white,
.transparent {
  border-color: var(--black400);
  color: var(--black400);
}
.white {
  background: var(--white400);
}
.transparent {
  background: transparent;
}
.border {
  border-width: 1px;
  border-style: solid;
}

.XXL {
  padding: 15px 35px;
  justify-content: center;
  font-size: var(--fontSize-xs);
}
.XL {
  padding: 8px 100px;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 5px 80px;
    font-size: 18px;
  }
}
.L {
  padding: 15px 30px;
  width: 200px;
  font-size: var(--fontSize-xs);
}

.M {
  padding: 13px 32px;
  font-size: var(--fontSize-xs);
  justify-content: center;
}

.S {
  padding: 8px 25px;
}

.XS {
  padding: 5px 12px;
  font-size: 14px;
}

.XXS {
  border-radius: 1500px;
  width: 30px;
  height: 30px;
  padding: 6px;
  justify-content: center;
  font-family: "Lufga-400", sans-serif;
}
