.fourthSectionContainer {
  padding: var(--padding-2xl) 0;

  @media screen and (max-width: 1224px) {
    padding: var(--padding-xl) 0;
  }
  .titleContent {
    margin-bottom: var(--margin-lg);

    .title {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: var(--fontSize-xl);
        text-transform: capitalize;
        font-family: "Lufga-600", sans-serif;
        @media screen and (max-width: 768px) {
          font-size: var(--fontSize-lg);
        }
      }
      .logo {
        width: 200px;
        height: 200px;

        @media screen and (max-width: 1224px) {
          width: 100px;
          height: 100px;
        }
      }
    }

    .btnsContainer {
      margin-top: var(--margin-xs);
      display: flex;
      gap: var(--gap-sm);
    }
  }

  .cardsContainer {
    display: flex;
    gap: var(--gap-xl);
    flex-wrap: wrap;
    @media screen and (max-width: 1440px) {
      gap: var(--gap-sm);
    }
    @media screen and (max-width: 1224px) {
      gap: var(--gap-lg);
    }
  }
}
