.cartPageContainer {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-2xl) 0;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    gap: 50px;
  }
  .products {
    width: 60%;
    table-layout: fixed;
    @media screen and (max-width: 1000px) {
      width: 90%;
      margin: 0 auto;
    }

    tr {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    thead {
      display: flex;
      margin-bottom: var(--margin-xs);
      width: 100%;

      th {
        font-size: var(--fontSize-sm);
        font-family: "DM-SANS-700", sans-serif;
        width: 20%;
        text-align: center;
        &:first-of-type {
          width: 40%;
          text-align: left;
        }

        &:last-of-type {
          width: 40%;
        }
      }
    }
    tbody {
      display: flex;
      flex-direction: column;
      gap: var(--gap-sm);
      @media screen and (max-width: 768px) {
        gap: var(--gap-lg);
      }
    }
  }
  .cartTotal {
    width: 35%;
    @media screen and (max-width: 1000px) {
      width: 90%;
      margin: 0 auto;
    }

    h3 {
      font-size: var(--fontSize-sm);
      font-family: "Lufga-500", sans-serif;
      padding-bottom: var(--padding-2xs);

      @media screen and (max-width: 1000px) {
        text-align: center;
      }
    }

    .cartTotalContainer {
      border: 1px solid var(--black400);
      border-radius: var(--bdRadius-sm);
      padding: var(--padding-md);

      h5,
      p {
        font-size: var(--fontSize-xs);
      }

      h6 {
        font-size: var(--fontSize-2xs);
      }
      .cashback,
      .freeShipping,
      .enjoyProduct {
        border: 1px solid var(--black400);
        border-radius: var(--bdRadius-xs);
      }

      .cashback {
        text-align: center;
        padding: var(--padding-2xs) 0;
        margin-bottom: var(--padding-xs);
      }
      .freeShipping,
      .enjoyProduct,
      .save {
        display: flex;
        gap: var(--gap-xs);
      }
      .freeShipping {
        margin-bottom: var(--padding-xs);
      }

      .freeShipping,
      .enjoyProduct {
        padding: var(--padding-2xs) 0 var(--padding-2xs) var(--padding-xs);
      }

      .freeShipping,
      .enjoyProduct,
      .save,
      .totalAmount {
        h5 {
          font-family: "Lufga-500", sans-serif;
        }
      }
      .enjoyProduct {
        .textContainer {
          width: 75%;

          p {
            font-family: "Lufga-300", sans-serif;
          }
        }
        margin-bottom: 37px;
      }

      .save {
        border-bottom: 1px var(--grey400) solid;
        padding-bottom: var(--padding-2xs);
      }

      .totalAmount {
        padding-top: var(--padding-sm);
        display: flex;
        justify-content: space-between;
        padding-bottom: 29px;

        span {
          font-size: 24px;

          font-family: "Lufga-500", sans-serif;
        }
      }
    }
  }
}
