.headerContainer {
  border-bottom: 1px var(--grey400) solid;

  .flexContainer {
    width: 90%;
    position: relative;
    margin: var(--margin-sm) auto;
    display: flex;
    align-items: center;
    gap: var(--gap-lg);

    @media screen and (max-width: 1224px) {
      justify-content: space-between;
      align-items: center;

      &.larger {
        height: 250px;
        align-items: start;
      }
    }
    .logoContainer {
      display: flex;
      align-items: center;

      gap: var(--gap-xs);

      h2 {
        font-family: "Jost", sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        font-size: var(--fontSize-md);
        @media screen and (max-width: 768px) {
          font-size: var(--fontSize-sm);
        }
      }
    }
    .navbar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--fontSize-xs);
      @media screen and (max-width: 1224px) {
        display: none;

        .logoContainer {
          display: block;
        }

        &.navbar.active {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 20%;
          left: 0;
          width: 10%;
          .navLeft,
          .navRight {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--gap-2xs);

            li {
              cursor: pointer;
            }
          }
        }
      }

      .navLeft {
        gap: var(--gap-lg);
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
          gap: var(--gap-md);
        }

        li {
          display: flex;
          gap: var(--gap-2xs);
        }
      }

      .navRight {
        display: flex;
        gap: var(--gap-md);

        .login {
          text-decoration: underline;
        }
      }
    }

    .menuIcons {
      display: none;
      cursor: pointer;

      @media screen and (max-width: 1224px) {
        display: block;
      }
    }
  }
}
