.headerContainer {
  border-bottom: 1px var(--grey400) solid;

  .flexContainer {
    width: 90%;
    margin: var(--margin-sm) auto;
    display: flex;
    align-items: center;

    .logoContainer {
      display: flex;
      align-items: center;
      gap: var(--gap-xs);

      h2 {
        font-family: "Jost", sans-serif;
        text-transform: capitalize;
        font-size: var(--fontSize-md);
      }
    }

    nav {
      margin-left: var(--margin-lg);
      font-family: "Lufga", sans-serif;
      display: flex;
      align-items: center;
      gap: 672px;
      font-size: var(--fontSize-xs);

      @media screen and (max-width: 1440px) {
        gap: 250px;
      }

      .navLeft {
        gap: var(--gap-lg);
        display: flex;
        align-items: center;
        li {
          display: flex;
          gap: var(--gap-2xs);
        }
      }

      .navRight {
        display: flex;
        gap: var(--gap-md);
        .login {
          text-decoration: underline;
        }
        #menu {
          display: none;
        }
      }
    }
  }
}
