.footer {
  background: var(--pink400);
  position: relative;
  border-top: 1px var(--grey400) solid;
  overflow-y: hidden;
  overflow-x: hidden;
  .catFood {
    position: absolute;
    bottom: -20px;
    left: -30px;
    background: transparent;

    @media screen and (max-width: 1300px) {
      left: -40px;
    }
    @media screen and (max-width: 1200px) {
      left: -45px;
    }
    @media screen and (max-width: 1120px) {
      left: 420px;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);

    .footerTop {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1120px) {
        display: inline-flex;
        flex-wrap: wrap;
      }

      .logoContainer {
        display: flex;
        align-items: center;
        margin: var(--margin-xl) 0 var(--margin-sm) 0;
        gap: var(--gap-xs);

        @media screen and (max-width: 1440px) {
          margin-top: var(--margin-md);
        }
        h2 {
          font-family: "Jost", sans-serif;
          font-size: var(--fontSize-lg);
          font-weight: 600;
          @media screen and (max-width: 1120px) {
            font-size: var(--fontSize-md);
          }
        }
      }
      h5,
      h4 {
        font-size: var(--fontSize-xs);
      }
      h5 {
        line-height: 30px;
      }

      h4 {
        text-transform: capitalize;
        font-family: "Lufga-500", sans-serif;
      }
      h3 {
        font-size: var(--fontSize-sm);
        font-family: "Lufga-600", sans-serif;
      }
      .footerNewsletter {
        margin-top: var(--margin-md);
        .input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid var(--pink300);
          border-radius: var(--bdRadius-xs);
          background: var(--pink300);
          padding: 15px;
          margin-top: var(--margin-2xs);
          width: 80%;
          @media screen and (max-width: 1120px) {
            width: 50%;
          }

          input {
            font-size: var(--fontSize-2xs);
            background: none;
            border: none;
            font-family: "Lufga-400", sans-serif;
          }
        }
      }
    }
    .footerContact,
    .posts,
    .stores,
    .links,
    .menuFooter {
      @media screen and (max-width: 1120px) {
        width: 50%;
      }
    }
    .posts,
    .stores,
    .links,
    .menuFooter {
      margin-top: var(--margin-2xl);

      @media screen and (max-width: 1440px) {
        margin-top: var(--margin-lg);
      }
    }
    .posts {
      .postsContainer {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        padding-top: var(--margin-xs);

        .postContainer {
          display: flex;
          gap: var(--gap-xs);
          align-items: center;

          .imgContainer {
            border: 1px var(--black400) solid;
            background: var(--white400);
            border-radius: var(--bdRadius-xs);
            overflow: hidden;
            display: flex;
          }

          .textContainer {
            display: flex;
            flex-direction: column;
            gap: var(--gap-2xs);

            h6 {
              font-size: var(--fontSize-2xs);
            }
          }
        }
      }
    }
    .links,
    .stores,
    .menuFooter {
      ul {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        padding-top: var(--margin-sm);

        li {
          font-size: var(--fontSize-sm);

          @media screen and (max-width: 1440px) {
            font-size: var(--fontSize-xs);
          }
        }
      }
    }
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  font-size: var(--fontSize-xs);
  padding: var(--margin-xs) 0;
  text-transform: capitalize;
  border-top: 1px var(--black400) solid;

  @media screen and (max-width: 860px) {
    flex-direction: column;
    gap: 20px;
  }

  .paiements {
    display: flex;
    gap: var(--gap-sm);
    font-family: "Roboto-400", sans-serif;
  }
}

.pawImg {
  position: absolute;
  right: -50px;
  top: 20px;
  bottom: 20px;

  @media screen and (max-width: 1440px) {
    right: -95px;
  }
}
