.footer {
  background: var(--pink400);
  position: relative;
  border-top: 1px var(--grey400) solid;
  overflow-y: hidden;
  font-family: "Lufga", sans-serif;
  overflow-x: hidden;
  .catFood {
    position: absolute;
    bottom: -6px;
    left: 48px;
    background: transparent;

    @media screen and (max-width: 1440px) {
      bottom: -110px;
      left: 550px;
    }
  }
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);

    .footerTop {
      display: flex;
      gap: var(--gap-xl);

      @media screen and (max-width: 1440px) {
        gap: var(--gap-sm);
      }

      .logoContainer {
        display: flex;
        align-items: center;
        margin: var(--margin-xl) 0 var(--margin-sm) 0;
        gap: var(--gap-xs);

        @media screen and (max-width: 1440px) {
          margin-top: var(--margin-md);
        }
        h2 {
          font-family: "Jost", sans-serif;
          font-size: var(--fontSize-lg);
          font-weight: 600;
        }
      }
      h5,
      h4 {
        font-size: var(--fontSize-xs);
      }
      h5 {
        line-height: 30px;
      }

      h4 {
        text-transform: capitalize;
        font-family: "LufgaMedium", sans-serif;
      }
      h3 {
        font-size: var(--fontSize-sm);
        font-family: "LufgaSemiBold", sans-serif;
      }
      .footerNewsletter {
        margin-top: var(--margin-md);
        .input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid var(--pink300);
          border-radius: var(--bdRadius-xs);
          background: var(--pink300);
          padding: 15px;
          margin-top: var(--margin-2xs);
          width: 299px;
          height: 45px;

          @media screen and (max-width: 1440px) {
            width: 200px;
          }
          p {
            font-size: var(--fontSize-xs);
          }
        }
      }
    }

    .posts,
    .stores,
    .links,
    .menuFooter {
      margin-top: var(--margin-2xl);

      @media screen and (max-width: 1440px) {
        margin-top: var(--margin-lg);
      }
    }
    .posts {
      .postsContainer {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        padding-top: var(--margin-xs);

        .postContainer {
          display: flex;
          gap: var(--gap-xs);
          align-items: center;

          .imgContainer {
            border: 1px var(--black400) solid;
            background: var(--white400);
            border-radius: var(--bdRadius-xs);
            overflow: hidden;
            width: 60px;
            height: 60px;
            .img60 {
              width: 60px;
              height: auto;
            }
          }

          .textContainer {
            display: flex;
            flex-direction: column;
            gap: var(--gap-2xs);

            h6 {
              font-size: var(--fontSize-2xs);
            }
          }
        }
      }
    }
    .links,
    .stores,
    .menuFooter {
      ul {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        padding-top: var(--margin-sm);

        li {
          font-size: var(--fontSize-sm);

          @media screen and (max-width: 1440px) {
            font-size: var(--fontSize-xs);
          }
        }
      }
    }

    .stores {
      padding: 0 var(--margin-2xl) 0 var(--margin-2xl);
    }
    .links {
      padding-right: var(--margin-2xl);
    }
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  font-size: var(--fontSize-xs);
  padding: var(--margin-xs) 0;
  text-transform: capitalize;
  border-top: 1px var(--black400) solid;

  .paiements {
    display: flex;
    gap: var(--gap-sm);
  }
}

.pawImg {
  position: absolute;
  right: -50px;
  top: 20px;
  bottom: 20px;

  @media screen and (max-width: 1440px) {
    right: -95px;
  }
}
