.secondSectionContainer {
  position: relative;

  .arrow {
    cursor: pointer;
  }
  .whiteContainer {
    background: var(--white400);
  }
  .productCategory {
    padding: var(--padding-2xl) 0;

    @media screen and (max-width: 768px) {
      padding: var(--padding-lg) 0;
    }
    .title {
      margin-bottom: var(--margin-md);
      display: flex;
      align-items: center;
      text-transform: capitalize;
      font-size: var(--fontSize-lg);
      justify-content: space-between;
      font-family: "Lufga-600", sans-serif;
      @media screen and (max-width: 768px) {
        font-size: var(--fontSize-sm);
      }

      .rightArrow {
        margin-left: var(--margin-sm);
      }
    }

    .cardsContainer {
      display: flex;
      gap: var(--gap-md);
      @media screen and (max-width: 768px) {
        gap: var(--gap-sm);
      }
      #img1 {
        background: #ffddd6;
      }

      #img2 {
        background: #ffe7c2;
      }
      #img3 {
        background: #d8f3e5;
      }
      #img4 {
        background: #def7ff;
      }
      #img5 {
        background: #efe9ff;
      }
      .card {
        flex: 1;
        border-radius: var(--bdRadius-md);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: var(--padding-2xs);

        .cardTitle {
          font-family: "Lufga-500", sans-serif;
          font-size: var(--fontSize-sm);
        }

        .cardImage {
          width: 234px;
          height: auto;
          cursor: pointer;
        }
      }
    }
  }
  .pawImg {
    position: absolute;
    top: 209px;
    transform: scaleX(-1);
    @media screen and (max-width: 1440px) {
      left: -70px;
    }
    @media screen and (max-width: 768px) {
      left: -40px;
      top: 100px;
    }
  }
  .petCareServices {
    background: var(--pink300);
    padding: var(--padding-2xl) 0;
    padding: var(--padding-xl) 0;

    .petCareServicesContainer {
      margin: 0 auto;
      display: flex;
      gap: var(--gap-md);
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      .leftContainer {
        text-transform: capitalize;
        flex: 2;
        h2 {
          font-size: 55px;
          line-height: 65px;
          margin-bottom: var(--margin-xs);
          font-family: "Lufga-600", sans-serif;
          @media screen and (max-width: 1440px) {
            font-size: var(--fontSize-md);
            line-height: 50px;
          }
          @media screen and (max-width: 768px) {
            font-size: var(--fontSize-md);
            text-align: center;
          }
        }
        .leftContainerContent {
          display: flex;
          border-bottom: 1px var(--grey400) solid;
          justify-content: space-between;
          padding: var(--padding-xs) 0;
          &:first-of-type {
            color: #fe8f90;
          }

          &:last-of-type {
            border: none;
          }
          h5 {
            font-size: var(--fontSize-sm);
          }
          .arrow:first-of-type {
            color: #fe8f90;
          }
        }
      }

      .centralContainer {
        border: 1px var(--black400) solid;
        border-radius: var(--bdRadius-md);
        flex: 2;
        padding: var(--padding-md);
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
          justify-content: center;
          align-items: center;
          margin: 0 auto;
        }

        h3 {
          padding-left: var(--padding-lg);
          font-size: var(--fontSize-sm);
          text-transform: capitalize;
          position: relative;
          margin-bottom: var(--margin-xs);
          font-family: "Lufga-600", sans-serif;

          &::before {
            content: url(./assets/grooming.svg);
            position: absolute;
            left: 1%;
          }
        }

        p {
          font-size: var(--fontSize-sm);
          margin-bottom: var(--margin-xl);
          line-height: 30px;
          @media screen and (max-width: 1224px) {
            margin-bottom: var(--margin-sm);
          }
        }
      }

      .rightContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        .rightContainerTop {
          flex: 1;
          #topImg {
            border-radius: 0 var(--bdRadius-lg) 0 0;
          }
        }
        @media screen and (max-width: 1000px) {
          display: none;
        }

        .rightContainerBottom {
          flex: 1;
          background: #ffa048;
          display: flex;
          border-radius: var(--bdRadius-md);
          text-transform: uppercase;
          color: var(--white400);
          font-size: var(--fontSize-xs);
          align-items: end;
          justify-content: center;

          span {
            width: 50px;
            height: 50px;
            background: var(--white400);
            border-radius: var(--bdRadius-xl);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 var(--margin-xs) var(--margin-sm) var(--margin-sm);
          }
          h5 {
            margin: 0 var(--margin-xs) var(--margin-md) 0;
            font-family: "Lufga-600", sans-serif;
          }

          .buttonVideo {
            cursor: pointer;
          }
        }
      }
    }
  }
}
