.horizontalCardContainer {
  display: flex;
  align-items: center;

  td {
    &:first-of-type {
      display: flex;
      align-items: center;
      width: 40%;
    }

    &:last-of-type {
      width: 30%;
    }
  }

  .productIdentity {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap-xs);
    }
    .productImg {
      border: 1px var(--black400) solid;
      border-radius: var(--bdRadius-sm);
      margin-right: var(--margin-xs);
      width: 80px;
      height: auto;
    }
    h4 {
      font-size: var(--fontSize-sm);
      font-family: "Lufga-500", sans-serif;
      text-transform: capitalize;
      @media screen and (max-width: 768px) {
        font-size: var(--fontSize-xs);
      }
    }
  }

  .price {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
  }

  .quantities {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40%;
  }
}
