.horizontalCardContainer {
  display: flex;
  align-items: center;
  td:first-of-type {
    display: flex;
    align-items: center;
    width: 40%;
  }
  .productIdentity {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap-xs);
    }
    .productImg {
      border: 1px var(--black400) solid;
      border-radius: var(--bdRadius-sm);
      margin-right: var(--margin-xs);
      width: 80px;
      height: auto;
    }
    h4 {
      font-size: var(--fontSize-sm);
      font-family: "Lufga-500", sans-serif;
      text-transform: capitalize;
      @media screen and (max-width: 768px) {
        font-size: var(--fontSize-xs);
      }
    }
  }

  .quantities,
  .total {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--gap-xs);
  }

  .price,
  .total {
    font-size: var(--fontSize-xs);
    font-family: "Lufga-500", sans-serif;
  }

  .price {
    color: var(--grey400);
  }

  .quantities,
  .price,
  .total {
    width: 20%;
    text-align: center;
  }

  .quantities {
    font-family: "Lufga-400", sans-serif;
    justify-content: center;
  }
}
