.firstSectionContainer {
  width: 2%;
  height: 3000px;
  display: flex;

  .leftVerticalContainer {
    height: 100%;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      li {
        writing-mode: vertical-lr;
        text-transform: uppercase;

        &:last-of-type {
          rotate: 180deg;
          align-self: flex-start;
          background: black;
          color: white;
        }
        .topList {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}
