.fifthSectionContainer {
  border-top: 1px solid var(--black400);
  padding: var(--padding-2xl);
  @media screen and (max-width: 1440px) {
    padding: var(--padding-lg);
  }

  @media screen and (max-width: 1224px) {
    padding: var(--padding-sm);
  }
  .fifthTop {
    width: 90%;
    display: flex;

    .ovfHidden {
      overflow: hidden;
    }

    .first,
    .third,
    .sixth {
      width: 300px;
      height: 340px;
      margin-bottom: var(--margin-sm);

      @media screen and (max-width: 1440px) {
        width: calc(300px * 0.75);
        height: calc(340px * 0.75);
        margin-bottom: var(--margin-xs);
      }

      @media screen and (max-width: 1224px) {
        width: calc(300px * 0.7);
        height: calc(340px * 0.7);
        margin-bottom: var(--margin-xs);
      }
    }
    .second,
    .fourth,
    .seventh {
      width: 300px;
      height: 240px;
      @media screen and (max-width: 1440px) {
        width: calc(300px * 0.75);
        height: calc(240px * 0.75);
        margin-bottom: var(--margin-xs);
      }
      @media screen and (max-width: 1224px) {
        width: calc(300px * 0.7);
        height: calc(240px * 0.7);
        margin-bottom: var(--margin-xs);
      }
    }
    .fifth,
    .seventh {
      border-top-left-radius: var(--bdRadius-xl);
      border-top-right-radius: var(--bdRadius-xl);
    }

    .sixth,
    .seventh {
      margin-right: var(--margin-sm);
      @media screen and (max-width: 1224px) {
        margin-right: var(--margin-2xs);
      }
    }

    .first {
      border-top-left-radius: var(--bdRadius-2xl);
      margin-right: var(--margin-sm);
      @media screen and (max-width: 1224px) {
        margin-right: var(--margin-2xs);
      }

      #imgFirst {
        @media screen and (max-width: 1240px) {
          object-position: -20px -10px;
        }
      }
      #imgEighth {
        @media screen and (max-width: 1240px) {
          object-position: -20px -30px;
        }
      }
    }

    .second {
      border-bottom-right-radius: var(--bdRadius-2xl);
      background: var(--pink500);

      #imgSecond {
        object-fit: scale-down;
        object-position: left;
      }
    }

    .third {
      border-top-right-radius: var(--bdRadius-2xl);

      #imgThird {
        object-fit: cover;
        object-position: -165px;
      }
    }

    .fourth {
      border-bottom-left-radius: var(--bdRadius-2xl);

      #imgFourth {
        object-fit: cover;
        object-position: -20px -80px;

        @media screen and (max-width: 1240px) {
          object-position: -40px -70px;
        }
      }

      #imgNinth {
        @media screen and (max-width: 1240px) {
          object-position: -60px -70px;
        }
      }
    }
    .fifth {
      width: 410px;
      height: 610px;
      margin: 0 var(--margin-sm);
      position: relative;

      #imgFifth {
        object-fit: cover;
        object-position: 50% -50px;

        @media screen and (max-width: 1224px) {
          object-position: 55% -70px;
        }
      }

      .add {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d9d9d9;
        cursor: pointer;
      }
      @media screen and (max-width: 1440px) {
        width: calc(410px * 0.75);
        height: calc(610px * 0.75);
        margin: 0 var(--margin-xs);
      }
      @media screen and (max-width: 1224px) {
        width: calc(410px * 0.7);
        height: calc(610px * 0.7);
        margin-bottom: var(--margin-xs);
      }
    }

    .sixth {
      border-radius: var(--bdRadius-2xl);

      #imgSixth {
        object-fit: cover;
        @media screen and (max-width: 1240px) {
          object-position: 65% -50px;
        }
      }
    }
  }
}

.fifthCentral {
  background: var(--white400);
  margin-top: 166px;
  border-radius: var(--bdRadius-md);
  display: flex;
  align-items: flex-end;

  @media screen and (max-width: 1224px) {
    margin-top: 100px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: start;
  }

  .textContainer {
    width: 50%;
    padding-left: 100px;
    padding-top: var(--padding-xl);
    margin-right: var(--margin-md);
    @media screen and (max-width: 768px) {
      width: 80%;
    }

    h2 {
      font-size: var(--fontSize-xl);
      font-family: "Lufga-600", sans-serif;
      text-transform: capitalize;
      line-height: 65px;
      margin-bottom: var(--margin-sm);
    }

    p {
      font-family: "Lufga";
      font-size: var(--fontSize-sm);
      color: #24262b;
      line-height: 35px;
      margin-bottom: var(--margin-sm);
    }

    .authorContainer {
      margin-bottom: var(--margin-xl);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .authorLeftContainer {
        display: flex;
        gap: var(--margin-sm);
        #author {
          width: 80px;
          height: auto;
          border-radius: var(--bdRadius-2xl);
        }
        h5 {
          font-family: "Lufga-700", sans-serif;
          font-size: var(--fontSize-sm);
          margin-top: var(--margin-2xs);
        }
        h6 {
          font-size: var(--fontSize-2xs);
        }
      }
      .arrowsContainer {
        display: flex;
        gap: var(--gap-sm);
        cursor: pointer;
        .arrowContainer {
          width: 40px;
          height: 40px;
          background: black;
          border-radius: 150%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:last-of-type {
            background: var(--pink400);
            rotate: 180deg;
            // cursor: pointer;
          }
        }
      }
    }
  }
  .imgContainer {
    width: 50%;
    height: 513px;
    background-color: var(--pink600);
    border-top-left-radius: var(--bdRadius-xl);
    border-top-right-radius: var(--bdRadius-xl);
    margin-top: 158px;
    margin-right: var(--margin-2xl);
    position: relative;
    @media screen and (max-width: 768px) {
      display: none;
    }

    #fifthSectionImg {
      position: absolute;
      bottom: -50px;
      left: -100px;
      width: 812px;
      height: auto;
    }

    #paw {
      position: absolute;
      top: -20px;
      left: -10px;
    }

    #curvedLine {
      position: absolute;
    }
  }
}
.fifthBottom {
  padding-top: 88px;
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-family: "Lufga-500", sans-serif;
    }
  }
}
