.fifthSectionContainer {
  border-top: 1px solid var(--black400);
  padding: var(--padding-2xl);
  @media screen and (max-width: 1440px) {
    padding: var(--padding-lg);
  }

  @media screen and (max-width: 1224px) {
    padding: var(--padding-sm);
  }
  .fifthTop {
    width: 100%;
    display: flex;
    @media screen and (max-width: 1000px) {
      display: none;
    }
    .fifthTopImgs {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 30px;
    }
    .ovfHidden {
      overflow: hidden;
      flex: 1 0 10%;
      display: flex;
      max-width: 90%;
    }
    .img {
      width: 100%;
      object-fit: cover;
    }

    #imgFirst,
    #imgEighth {
      border-top-left-radius: var(--bdRadius-2xl);
    }

    #imgSecond {
      background: var(--pink500);
      object-position: 30% 10%;
    }

    #imgSecond,
    #imgNinth {
      border-bottom-right-radius: var(--bdRadius-2xl);
    }

    #imgThird {
      border-top-right-radius: var(--bdRadius-2xl);
    }

    #imgFourth {
      border-bottom-left-radius: var(--bdRadius-2xl);
      object-position: 30% 30%;
    }

    #imgSixth {
      border-radius: var(--bdRadius-2xl);
      @media screen and (max-width: 1240px) {
        object-position: 50% -40px;
      }
    }
    #imgFifth,
    #imgSeventh {
      border-top-left-radius: var(--bdRadius-xl);
      border-top-right-radius: var(--bdRadius-xl);
    }
  }
  .fifth {
    position: relative;

    #imgFifth {
      object-position: 50% -50px;

      @media screen and (max-width: 1240px) {
        object-position: 45% -60px;
      }
    }

    .add {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #d9d9d9;
      cursor: pointer;
    }
  }
}

.fifthCentral {
  background: var(--white400);
  margin-top: 166px;
  border-radius: var(--bdRadius-md);
  display: flex;
  align-items: flex-end;

  @media screen and (max-width: 1224px) {
    margin-top: 100px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: start;
  }

  .textContainer {
    width: 50%;
    padding-left: 100px;
    padding-top: var(--padding-xl);
    margin-right: var(--margin-md);
    @media screen and (max-width: 1000px) {
      width: 80%;
    }

    h2 {
      font-size: var(--fontSize-xl);
      font-family: "Lufga-600", sans-serif;
      text-transform: capitalize;
      line-height: 65px;
      margin-bottom: var(--margin-sm);
    }

    p {
      font-family: "Lufga";
      font-size: var(--fontSize-sm);
      color: #24262b;
      line-height: 35px;
      margin-bottom: var(--margin-sm);
    }

    .authorContainer {
      margin-bottom: var(--margin-xl);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .authorLeftContainer {
        display: flex;
        gap: var(--margin-sm);
        #author {
          width: 80px;
          height: auto;
          border-radius: var(--bdRadius-2xl);
        }
        h5 {
          font-family: "Lufga-700", sans-serif;
          font-size: var(--fontSize-sm);
          margin-top: var(--margin-2xs);
        }
        h6 {
          font-size: var(--fontSize-2xs);
        }
      }
      .arrowsContainer {
        display: flex;
        gap: var(--gap-sm);
        cursor: pointer;
        .arrowContainer {
          width: 40px;
          height: 40px;
          background: black;
          border-radius: 150%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:last-of-type {
            background: var(--pink400);
            rotate: 180deg;
          }
        }
      }
    }
  }
  .imgContainer {
    width: 50%;
    height: 513px;
    background-color: var(--pink600);
    border-top-left-radius: var(--bdRadius-xl);
    border-top-right-radius: var(--bdRadius-xl);
    margin-top: 158px;
    margin-right: var(--margin-2xl);
    position: relative;
    @media screen and (max-width: 1000px) {
      display: none;
    }

    #fifthSectionImg {
      position: absolute;
      bottom: -50px;
      left: -100px;
      width: 812px;
      height: auto;
    }

    #paw {
      position: absolute;
      top: -20px;
      left: -10px;
    }

    #curvedLine {
      position: absolute;
    }
  }
}
.fifthBottom {
  padding-top: 88px;
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-family: "Lufga-500", sans-serif;
    }
  }
}
