.bannerContainer {
  position: relative;

  .imgContainer {
    height: 250px;
    overflow: hidden;
    filter: brightness(30%);
  }

  .textContent {
    color: var(--white400);
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);

    h2 {
      font-size: var(--fontSize-lg);
      font-family: "Lufga-600", sans-serif;
    }
    .textContainer {
      display: flex;
      align-items: center;
      gap: var(--gap-xs);

      h6 {
        font-size: var(--fontSize-xs);
      }
    }
  }

  #cartPageBannerImg {
    object-position: 0 -300px;
  }
}
